{% extends "base.html" %}

{% block app_content %}
    <h1>User list</h1>
    <table>
        <thead>
            <tr>
                <td>Username</td>
                <td>Last Seen</td>
                <td>Followers</td>
                <td>Followed</td>
            </tr>
        </thead>
    {% for user in user_list %}
    <tr>
        <td><a href="{{ url_for('user', username=user.username) }}">{{ user.username }}</a></td>
        <td>{{ moment(user.last_seen).format('LLL') }}</td>
        <td>{{ user.followers.count() }}</td>
        <td>{{ user.followed.count() }}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}

<script src="{{ url_for('static', filename='js/script.js') }}"></script>